<header class="header">
    <div class="header__container">
        <a href="/" class="logo-link">
            <svg><use xlink:href="/src/images/logo.svg"></use></svg>
        </a>
        <nav class="desctop-nav nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/services" class="nav__link">Services</a></li>
                <li class="nav__item"><a href="/work" class="nav__link">Work</a></li>
                <li class="nav__item"><a href="/about" class="nav__link">About</a></li>
                <li class="nav__item"><a href="/blog" class="nav__link">Blog</a></li>
                <li class="nav__item"><a href="/pages" class="nav__link">Pages</a></li>
            </ul>
            <button type="button" class="nav__button">Let`s talk</button>
        </nav>
        <nav class="mobile-nav nav">
            <button class="menu__btn"><span></span><span></span> <span></span></button>
            <ul class="mobile-nav__list">
                <li class="mobile-nav__item nav__item">
                    <a href="#" class="mobile-nav__link nav__link">Services</a>
                </li>
                <li class="mobile-nav__item nav__item">
                    <a href="#" class="mobile-nav__link nav__link">Work</a>
                </li>
                <li class="mobile-nav__item nav__item">
                    <a href="#" class="mobile-nav__link nav__link">About</a>
                </li>
                <li class="mobile-nav__item nav__item">
                    <a href="#" class="mobile-nav__link nav__link">Blog</a>
                </li>
                <li class="mobile-nav__item nav__item">
                    <a href="#" class="mobile-nav__link nav__link">Pages</a>
                </li>
            </ul>
            <button type="button" class="mobile-nav__button nav__button">Let`s talk</button>
        </nav>
    </div>
</header>
