<section class="proceses">
    <div class="container">
        <div class="proceses__container">
            <p class="proceses__label">The Process</p>
            <h2 class="proceses__title">Your Website <span>in 5 steps</span></h2>
            <p class="proceses__text">
                Our process ensures that we create a website tailored to your business needs.
            </p>
            <button class="proceses__btn">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                >
                    <path
                        d="M15.9531 11.5781L10.3281 17.2031C10.2858 17.2476 10.2349 17.2829 10.1785 17.3071C10.1221 17.3313 10.0614 17.3438 9.99999 17.3438C9.93862 17.3438 9.8779 17.3313 9.82149 17.3071C9.76509 17.2829 9.71418 17.2476 9.67186 17.2031L4.04686 11.5781C3.95984 11.4911 3.91095 11.3731 3.91095 11.25C3.91095 11.1269 3.95984 11.0089 4.04686 10.9219C4.13389 10.8349 4.25192 10.786 4.37499 10.786C4.49806 10.786 4.61609 10.8349 4.70311 10.9219L9.53124 15.7422V3.125C9.53124 3.00068 9.58062 2.88145 9.66853 2.79354C9.75644 2.70564 9.87567 2.65625 9.99999 2.65625C10.1243 2.65625 10.2435 2.70564 10.3314 2.79354C10.4194 2.88145 10.4687 3.00068 10.4687 3.125V15.7422L15.2969 10.9219C15.3839 10.8349 15.5019 10.786 15.625 10.786C15.7481 10.786 15.8661 10.8349 15.9531 10.9219C16.0401 11.0089 16.089 11.1269 16.089 11.25C16.089 11.3731 16.0401 11.4911 15.9531 11.5781Z"
                        fill="#DAC5A7"
                    />
                </svg>
            </button>
        </div>
        <div class="steps__list">
            <div class="steps__item">
                <div class="steps__step">
                    <span class="steps__item--label">2 Hours</span>
                    <p class="steps__item--text1">Do we Match?</p>
                    <h3 class="steps__item--title">Discovery Call</h3>
                    <p class="steps__item--text2">
                        Before we start, we determine if and how I can help you. What are your
                        requirements for your new website? Why do you need a new website? What goals
                        do you have, and what problems can we solve with a new website?
                    </p>

                    <ul class="steps__step--list">
                        <li>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="4"
                                height="5"
                                viewBox="0 0 4 5"
                                fill="none"
                            >
                                <circle cx="2" cy="2.5" r="2" fill="#DAC5A7" />
                            </svg>
                            We get to know each other better
                        </li>
                        <li>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="4"
                                height="5"
                                viewBox="0 0 4 5"
                                fill="none"
                            >
                                <circle cx="2" cy="2.5" r="2" fill="#DAC5A7" />
                            </svg>
                            Determine how I can best assist you
                        </li>
                        <li>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="4"
                                height="5"
                                viewBox="0 0 4 5"
                                fill="none"
                            >
                                <circle cx="2" cy="2.5" r="2" fill="#DAC5A7" />
                            </svg>
                            Understand the goals you have for your website
                        </li>
                    </ul>
                </div>
                <div class="steps__number-label">
                    <div class="maska"></div>
                    <span>01</span>
                </div>
                <div></div>
            </div>
            <div class="steps__item">
                <div class="steps__step">
                    <span class="steps__item--label">1 Week</span>
                    <p class="steps__item--text1">lorem ipsum</p>
                    <h3 class="steps__item--title">Concept & STrategy</h3>
                    <p class="steps__item--text2">
                        Together, we develop a strategy that successfully combines your goals with
                        the needs of your target audience. Based on this concept, I create the first
                        wireframes and an interactive prototype. This provides us with a very good
                        impression of the website and the user interface.
                    </p>

                    <ul class="steps__step--list">
                        <li>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="4"
                                height="5"
                                viewBox="0 0 4 5"
                                fill="none"
                            >
                                <circle cx="2" cy="2.5" r="2" fill="#DAC5A7" />
                            </svg>
                            UX Design
                        </li>
                        <li>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="4"
                                height="5"
                                viewBox="0 0 4 5"
                                fill="none"
                            >
                                <circle cx="2" cy="2.5" r="2" fill="#DAC5A7" />
                            </svg>
                            Wireframes
                        </li>
                        <li>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="4"
                                height="5"
                                viewBox="0 0 4 5"
                                fill="none"
                            >
                                <circle cx="2" cy="2.5" r="2" fill="#DAC5A7" />
                            </svg>
                            Interactive Prototype
                        </li>
                    </ul>
                </div>
                <div class="steps__number-label">
                    <div class="maska"></div>
                    <span>02</span>
                </div>
                <div></div>
            </div>
            <div class="steps__item">
                <div class="steps__step">
                    <span class="steps__item--label">1 week</span>
                    <p class="steps__item--text1">SOme MAgic</p>
                    <h3 class="steps__item--title">web Design</h3>
                    <p class="steps__item--text2">
                        Now comes the magic. Based on the previously developed concept, I create a
                        high-end screen design perfectly tailored to your brand. A web design that
                        sets you apart from your competition, fits your target audience ideally, and
                        provides an excellent user experience.
                    </p>

                    <ul class="steps__step--list">
                        <li>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="4"
                                height="5"
                                viewBox="0 0 4 5"
                                fill="none"
                            >
                                <circle cx="2" cy="2.5" r="2" fill="#DAC5A7" />
                            </svg>
                            High-end web design tailored to your brand
                        </li>
                        <li>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="4"
                                height="5"
                                viewBox="0 0 4 5"
                                fill="none"
                            >
                                <circle cx="2" cy="2.5" r="2" fill="#DAC5A7" />
                            </svg>
                            Interactive prototype of the design
                        </li>
                    </ul>
                </div>
                <div class="steps__number-label">
                    <div class="maska"></div>
                    <span>03</span>
                </div>
                <div></div>
            </div>
            <div class="steps__item">
                <div class="steps__step">
                    <span class="steps__item--label">2 Weeks</span>
                    <p class="steps__item--text1">More Magic</p>
                    <h3 class="steps__item--title">Development</h3>
                    <p class="steps__item--text2">
                        In this step, we breathe life into your new high-end design. You will
                        receive a custom-built website using a modular web design system and CMS
                        integration. Animations will add the necessary flair to your site and set
                        you apart from the boring competition.
                    </p>

                    <ul class="steps__step--list">
                        <li>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="4"
                                height="5"
                                viewBox="0 0 4 5"
                                fill="none"
                            >
                                <circle cx="2" cy="2.5" r="2" fill="#DAC5A7" />
                            </svg>
                            Custom framer website
                        </li>
                        <li>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="4"
                                height="5"
                                viewBox="0 0 4 5"
                                fill="none"
                            >
                                <circle cx="2" cy="2.5" r="2" fill="#DAC5A7" />
                            </svg>
                            Modular web design systems
                        </li>
                        <li>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="4"
                                height="5"
                                viewBox="0 0 4 5"
                                fill="none"
                            >
                                <circle cx="2" cy="2.5" r="2" fill="#DAC5A7" />
                            </svg>
                            CMS integration
                        </li>
                    </ul>
                </div>
                <div class="steps__number-label">
                    <div class="maska"></div>
                    <span>04</span>
                </div>
                <div></div>
            </div>
            <div class="steps__item">
                <div class="steps__step">
                    <span class="steps__item--label">2 Hours</span>
                    <p class="steps__item--text1">ready to go</p>
                    <h3 class="steps__item--title">WEbsite onboarding</h3>
                    <p class="steps__item--text2">
                        In a personal Framer workshop, I will show you how to make changes to your
                        new website quickly and easily. Additionally, you will receive personalized
                        Framer video tutorials that you can access at any time. Edit your Framer
                        website without a complicated backend or the need for an additional
                        programmer. It's as simple as that.
                    </p>

                    <ul class="steps__step--list">
                        <li>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="4"
                                height="5"
                                viewBox="0 0 4 5"
                                fill="none"
                            >
                                <circle cx="2" cy="2.5" r="2" fill="#DAC5A7" />
                            </svg>
                            Personal workshop
                        </li>
                        <li>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="4"
                                height="5"
                                viewBox="0 0 4 5"
                                fill="none"
                            >
                                <circle cx="2" cy="2.5" r="2" fill="#DAC5A7" />
                            </svg>
                            Personalized video tutorials
                        </li>
                        <li>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="4"
                                height="5"
                                viewBox="0 0 4 5"
                                fill="none"
                            >
                                <circle cx="2" cy="2.5" r="2" fill="#DAC5A7" />
                            </svg>
                            Edit text and images directly on your website
                        </li>
                    </ul>
                </div>
                <div class="steps__number-label">
                    <div class="maska"></div>
                    <span>05</span>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</section>
