.footer {
    padding: 20px 16px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 80;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.footer__grid {
    display: grid;
    grid-template-columns: 1fr;

    justify-content: center;
    gap: 32px;
}

@media screen and (min-width: 768px) {
    .footer__grid {
        width: 100%;
        grid-template-columns: repeat(2, minmax(316px, max-content));
        grid-template-rows: repeat(2, 1fr);
        gap: 64px;
    }
}

@media screen and (min-width: 1280px) {
    .footer__grid {
        grid-template-columns: minmax(100px, auto) repeat(3, minmax(316px, max-content));
        grid-template-rows: 1fr;
    }
}

.footer__div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__link {
    position: relative;
    color: rgba(218, 197, 167, 0.6);
    text-align: justify;

    font-family: var(--fontSatoshi);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer__link:hover,
.footer__link:focus {
    color: rgb(218, 197, 167);
}

.footer__link::before {
    content: "";
    height: 1px;
    width: 0;
    background-color: #dac5a8;
    position: absolute;
    bottom: 0;
    transition: width 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer__link:hover::before,
.footer__link:focus::before {
    width: 100%;
}

.footer__text {
    color: #dac5a7;
    text-align: justify;
    font-family: var(--fontSatoshi);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 1px;
}

.footer__logo-link {
    cursor: pointer;
}

.footer__logo-link svg {
    width: 58px;
    height: 22px;
}
.footer__сopyright--text {
    color: rgba(218, 197, 167, 0.6);
    text-align: justify;
    font-family: var(--fontChillax);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 21.6px */
    letter-spacing: 0.5px;
}

.top {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 12px;

    border: 1px solid rgba(218, 197, 167, 0.6);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 197, 167, 0.3);
    z-index: 3;
}

.top.show {
    display: flex;
}

.top svg {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 767px) {
    .footer__text {
        text-align: center;
    }

    .footer__list {
        align-items: center;
    }

    .footer__logo-link {
        display: block;
        margin: 0 auto;
    }

    .footer__btn {
        max-width: 300px;
        margin: 0 auto;
    }

    .footer__сopyright--text {
        text-align: center;
    }

    .top {
        right: 20px;
        bottom: 20px;
    }
}
