.about {
    padding-top: 30px;
}

.about__container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.about__img {
    max-width: 880px;
    max-height: 769px;

    flex-shrink: 0;
    mix-blend-mode: lighten;

    margin-left: auto;
    margin-right: auto;
}

.about__container--title {
    position: absolute;
    top: 50%;
    left: -15%;
    transform: translateY(-50%);
    display: flex;
    gap: 500px;
}

.about__title {
    color: #dac5a7;
    font-family: var(--fontSatoshi);
    font-size: clamp(60px, 9vw, 128px);
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    white-space: nowrap;
}

.about__title > span {
    font-family: var(--fontGambetta);
    font-style: italic;
}

.about__info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.about__info--title {
    color: #dac5a7;
    font-family: var(--fontSatoshi);
    font-size: clamp(24px, 7vw, 48px);
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
}

.about__info--title span {
    color: #dac5a7;
    font-family: var(--fontGambetta);
    font-style: italic;
    display: block;
}

.about__info--text {
    color: rgba(218, 197, 167, 0.6);
    font-family: var(--fontChillax);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    margin-bottom: 32px;
}
.about__info--icons {
    display: flex;

    align-items: center;
    gap: 20px;
}

.about__info--icons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    padding: 8px 12px;
    border-radius: 50%;
    border: 1px solid var(--border-default, rgba(218, 197, 167, 0.15));
    background: var(--background-muted, rgba(218, 197, 167, 0.05));
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about__info--icons a svg {
    fill: #dac5a7;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about__info--icons a:hover,
.about__info--icons a:focus {
    background: #dac5a7;
}

.about__info--icons a:hover svg,
.about__info--icons a:focus svg {
    fill: var(--bgColor);
}

@media screen and (min-width: 1280px) {
    .about__info {
        grid-template-columns: repeat(2, 568px);
        gap: 64px;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .about__img {
        margin-left: -200px;
    }
}
